<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<style media="screen">
		* {
			margin: 0;
			padding: 0;
		}

		body {
			padding: 50px;
			font-family: '微软雅黑';
		}

		label {
			display: block;
			margin-bottom: 10px;
		}

		.wrap{
			margin-bottom: 5px;
		}
	</style>
</head>

<body>
<div id="app">
	<label for="myDate">DEMO</label>
	<div class="wrap">
		<my-switch size="sm" v-model="toggle"></my-switch>
	</div>
	<div class="wrap">
		<my-switch size="sm" v-model="toggle" color="blue" :disabled="true"></my-switch>
	</div>
	<div class="wrap">
		<my-switch size="sm" v-model="toggle" color="orange"></my-switch>
	</div>
	<div class="wrap">
		<my-switch size="sm" v-model="toggle" color="green"></my-switch>
	</div>
	<div class="wrap">
		<my-switch size="sm" v-model="toggle" color="#f1ae45"></my-switch>
	</div>
	<div class="wrap">
		<my-switch size="sm" v-model="toggle" color="green" v-bind:locked="true"></my-switch>
	</div>
	<div class="wrap">
		<my-switch v-model="toggle" v-bind:locked="true"></my-switch>
	</div>
	<div class="wrap">
		<my-switch v-model="toggle"></my-switch>
	</div>
	<div class="wrap">
		<my-switch v-model="toggle"></my-switch>
	</div>
	<div class="wrap">
		<my-switch on-label="Yes" off-label="No" color="blue"
			 v-model="toggle"></my-switch>
	</div>
	<div class="wrap">
		<my-switch on-label="Do" off-label="Don't" size="lg" color="orange" v-model="toggle"></my-switch>
	</div>
	<div class="wrap">
		<my-switch on-label="Love" off-label="Hate" size="lg" color="green" v-model="toggle"></my-switch>
	</div>
	<div class="wrap">
		<my-switch on-label="Love" off-label="Hate" size="lg" color="green" v-model="toggle" v-bind:locked="true"></my-switch>
	</div>

	<div class="wrap">
		<my-switch on-label="" off-label="" size="xl" color="green" v-model="toggle" v-bind:locked="true"></my-switch>
	</div>
</div>

<script src="vue.js"></script>
<script src="demo-src.js"></script>
</body>

</html>
